if [[ "$PIPENV_VENV_IN_PROJECT" = '1' ]];
then
  echo "already setup"
  exit
fi

export PIPENV_VENV_IN_PROJECT=1
eval "$(pipenv --completion)"

if [ ! -d '.venvs' ]
then
  echo "It doesn't look like your dev environment is setup, installing (this will take a moment)....."
  mkdir -p .venvs
  pipenv install --three --dev
fi

pipenv shell
