[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
tap-pagerduty = {path = ".",editable = true}
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-datadir = "*"
responses = "*"
tox = "*"

[requires]

[pipenv]
