[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tap-pagerduty = {editable = true,path = "."}

[dev-packages]
tap-pagerduty = {path = ".",editable = true}
isort = "*"
flake8 = "*"
pytest = "*"
tox = "*"

[requires]

[pipenv]
